* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.observable-cells-container {
  padding: 24px;
  max-width: 960px;
  margin: 0 auto;
}

.observable-cells-container.side-by-side {
  max-width: initial;
}

.observablehq-cell {
  margin: 12px 0;
}

.charts.side-by-side {
  display: flex;
  justify-content: space-between;
}

.charts.side-by-side > div {
  width: calc(50vw - 24px * 2);
}
