* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

hr {
  margin: 24px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

.container {
  padding: 24px;
  max-width: 960px;
  margin: 0 auto;
}

#observablehq-7447150c {
  margin-top: 48px;
}

input[name="input"] {
  width: 225px;
}

div[class^="observablehq-"] {
  margin: 1rem 0;
}

div.observablehq-rowBarChart {
  margin-top: 48px;
}
