* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

hr {
  margin: 24px 0;
}

table {
  border-collapse: collapse;
  width: 100%;
}
th,
td {
  padding: 0.25rem;
  text-align: left;
  border: 1px solid #ccc;
}

.container {
  padding: 24px;
  max-width: 960px;
  margin: 0 auto;
}

.observablehq-cell {
  margin: 1rem 0;
}
